<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Register</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="bg-light">
<div layout:fragment="content">
    <div class="container mt-5 justify-content-center">
        <h2 class="mb-4">Registration</h2>

        <p th:if="${MSG_ERROR}" class="alert alert-danger mb-4" role="alert" th:text="${MSG_ERROR}"></p>

        <form th:action="@{/register}" th:object="${userRegistrationDTO}" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" id="username" class="form-control" th:field="*{username}" required/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                     th:text="${#fields.errors('username').getFirst()}"></div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" id="email" class="form-control" th:field="*{email}" required/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                     th:text="${#fields.errors('email').getFirst()}"></div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" id="password" class="form-control" th:field="*{password}" required/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{password}"
                     th:text="${#fields.errors('password').getFirst()}"></div>
            </div>
            <div class="mb-3">
                <label for="passwordToConfirm" class="form-label">Confirm password:</label>
                <input type="password" id="passwordToConfirm" class="form-control" th:field="*{passwordToConfirm}"
                       required/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{passwordToConfirm}"
                     th:text="${#fields.errors('passwordToConfirm').getFirst()}"></div>
            </div>

            <p class="mt-3 text-center">Already have an account? <a href="/login">Login</a></p>

            <div>
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>
